
body {
    display:flex;
    height: 100%;
    font-family: Arial, sans-serif;
}

.left {
    width: 50%;
    background-image: url('1.png'); /* Replace with your actual image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background: rgba(253, 253, 253, 0.336);
    padding: 20px;
    border-radius: 50%;
    height: auto;
    text-align: center;
    position:fixed; /* Required for absolute positioning inside */
}

.logo-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center the circle in the container */
}


.logo img {
    width: 150px;
    height: 150px; /* Adjust size as needed */
}

.right {
    width: 50%;
    height: 100%;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px #d8e9e0;
    border-radius: 5px;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.cc{
    background-color: aquamarine;
    inline-size:auto;
}
div {
    display: inline-block;
}

div label {
    display: block;
}